@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    max-width: 450px;
    height: 697px;
    border-radius: 20px;
    text-align: center;
}

/* .card .top-image {
    max-height: 220px;
} */

.card .top-image img {
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card .content {
    padding: 40px 47px;
}

.card .content .title {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.card .content p {
    letter-spacing: 0.2px;
    line-height: 1.6rem;
    margin-bottom: 1.3rem;
}

.card .content .plan {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding: 25px;
}

.card .content .plan .cost {
    text-align: start;
}