:root {
    --background-card: hsl(225, 100%, 98%);
    --background-plan: hsl(225, 100%, 94%);
    --link-change: ;
    --button-proceed: hsl(245, 75%, 52%);
    --button-proceed-active: ;
    --soft-text: hsl(224, 23%, 55%);
    --dark-text: hsl(223, 47%, 23%);
}